
#obra{
    border: 1px solid rgb(0, 0, 0, 0.1);
}

#body{
    background-image: url(../img/imgBackground.png);
    background-size: cover;
}

.container{
    background-color: rgb(240, 248, 255, 0.9);
}
