{% extends 'core/Cliente/layout_base_cli.html' %}
{% load humanize %}
{% block body %}
<div class="container">
  <section class="h-100" style="background-color: #eee;">
    <div class="container h-100 py-3 mt-4">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
  
          <p>Valor de 1 dolar: {{dolar}} CLP</p>
          
          <p>Valor de 1 bitcoin: {{bitcoin}} USD</p>
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black">Carrito de compras</h3>
            <div>
              <p class="mb-0"><span class="text-muted">Ordenado por:</span> <a href="#!" class="text-body">precio <i
                    class="fas fa-angle-down mt-1"></i></a></p>
            </div>
          </div>
          {% for x in carrito.obras.all %}
          <div class="card rounded-3 mb-4">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img
                    src="{{x.imagen.url}}"
                    class="img-fluid rounded-3" alt="{{x.descripcion}}">
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <p class="lead fw-normal mb-2">{{x.titulo}}</p>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">

                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <h5 class="mb-0">${{x.precio}}</h5>
                </div>
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <a href="{% url 'eliminarCarrito' x.id %}" class="btn btn-danger btn-lg"><i class="bi bi-trash"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="card mb-4">
            {% if total %}
            <h4 class="ms-4 mt-2">Total: ${{total}}</h4>
            <div class="card-body p-4 d-flex flex-row">
              <div data-mdb-input-init class="form-outline flex-fill">
                <input type="text" id="form1" class="form-control form-control-lg" />
                <label class="form-label" for="form1">Discound code</label>
              </div>
              <button  type="button"  class="btn btn-outline-warning btn-lg ms-3">Apply</button>
            </div>
            {% else %}
            <h4 class="ms-4 mt-2">Usted aún no agrega ningún producto, ¡Pase por la tienda!</h4>
            {% endif %}
            
          </div>
          {% if total %}
          <div class="card">
            <div class="card-body">
              <div style="justify-content: center;" class="text-center" id="paypal-button"></div>
            </div>
          </div>
          {% else %}
          <div class="card">
            <div class="card-body">
              <a type="button" class="btn btn-success btn-block btn-lg" href="{% url 'homeCli' %}">Ir a la tienda</a>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</div>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
paypal.Button.render({
// Configure environment
env: 'sandbox',
client: {
sandbox: 'AS471vA42YMneVgwa3RbXLqzDBfDebtNoO74wSwl2WXju---37Nq1uIGNAfIEMFGMCnD0taMh3EvVln4',
production: 'demo_production_client_id'
},
// Customize button (optional)
locale: 'en_US',
style: {
size: 'large',
color: 'gold',
shape: 'pill',
},
// Enable Pay Now checkout flow (optional)
commit: true,
// Set up a payment
payment: function (data, actions) {
return actions.payment.create({
transactions: [{
amount: {
total: '{{ total }}',
currency: 'USD'
}
}]
});
},
// Execute the payment
onAuthorize: function (data, actions) {
    return actions.payment.execute().then(function () {
        // Show a confirmation message to the buyer
        const baseUrl = window.location.origin; // Obtiene la dirección base (ejemplo: http://127.0.0.1:8000)
        const newUrl = `${baseUrl}/pagarCarrito/{{ total }}/`; // Construir la nueva URL
        window.location.href = newUrl; 
    });
}

}, '#paypal-button');
</script>
{% endblock %}